<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!--은아-->
		<typeAlias type="com.liclass.client.login.vo.UserVO" alias="User"/>
		<typeAlias type="com.liclass.client.likes.vo.LikesVO" alias="Likes"/>
		<typeAlias type="com.liclass.client.review.vo.ReviewVO" alias="Review"/>
		<typeAlias type="com.liclass.client.qnaboard.vo.ClientQnaBoardVO" alias="ClientQnaBoard"/>
		<typeAlias type="com.liclass.client.classes.vo.ClientClassImgVO" alias="ClassImg"/>
		<typeAlias type="com.liclass.client.post.vo.PostVO" alias="Post"/>
		
		<!--웅배-->
		<typeAlias type="com.liclass.client.reserve.vo.ReserveVO" alias="reserve"/>
         <typeAlias type="com.liclass.client.payment.vo.PaymentVO" alias="payment"/>
         <typeAlias type="com.liclass.client.payment.vo.RefundVO" alias="refund"/>
         <typeAlias type="com.liclass.admin.episode.vo.EpisodeVO" alias="episode"/>
         
         <!--민섭,소영-->
        <typeAlias type="com.liclass.admin.management.center.vo.CenterVO" alias="center"/>		
		<typeAlias type="com.liclass.admin.management.studio.vo.StudioVO" alias="studio"/>		
		<typeAlias type="com.liclass.admin.login.vo.AdminLoginVo" alias="adminLogin"/>
		<typeAlias type="com.liclass.admin.management.dashboard.vo.DashBoardVo" alias="dashBoard"/>
		<typeAlias type="com.liclass.admin.management.qnaboard.vo.QnaBoardVo" alias="qnaBoard"/>
		<!-- <typeAlias type="com.spring.client.reply.vo.ReplyVO" alias="reply"/>
		<typeAlias type="com.spring.admin.login.vo.AdminLoginVO" alias="adminLogin" /> -->
		
		<!-- 경민 -->
		<typeAlias type="com.liclass.admin.classes.vo.AdminClassVO" alias="Adminclass"/>
		<!-- <typeAlias type="com.liclass.admin.center.vo.CenterVO" alias="center"/> -->
		<!-- <typeAlias type="com.liclass.admin.episode.vo.EpisodeVO" alias="episode"/> -->
		<!-- <typeAlias type="com.liclass.client.reserve.vo.ReserveVO" alias="reserve"/> -->
		<typeAlias type="com.liclass.admin.img.vo.AdminClassImgVO" alias="img"/>
		
		<!--지민-->
		<typeAlias type = "com.liclass.client.review.vo.ReviewVO" alias = "review" />
		<typeAlias type="com.liclass.client.classes.vo.ClientClassVO" alias="c_class"/>
		
	</typeAliases>
</configuration>

